//
//  Config.xcconfig
//  Stash House
//
//  Created by Justin Trubela on 3/8/25.
//

TMDB_API_KEY = b82aaf3a2291fcf450fc8b3c3575de7a
TMDB_ACCESS_TOKEN = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiODJhYWYzYTIyOTFmY2Y0NTBmYzhiM2MzNTc1ZGU3YSIsIm5iZiI6MTc0MTM3MDc0My40MzgwMDAyLCJzdWIiOiI2N2NiMzU3N2E0ZGY5N2RiOTY0ZjU5ZDMiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.GEtMCeol23DzWlHSnoLI7ZMUMNeO2sQ6SScRqc2NJzc
